---
import { getCollection } from 'astro:content';
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.filter(p => p.slug !== '_placeholder').map(post => ({ params: { slug: post.slug }, props: { post } }));
}
const { post } = Astro.props;
---
<html><head><meta http-equiv="refresh" content="0;url=/news" /></head><body><a href="/news">Moved to /news</a></body></html>
