---
// Blog posts have moved to /news - redirect handled by _redirects file
import { getCollection } from 'astro:content';
export async function getStaticPaths() { return []; }
---
<html><head><meta http-equiv="refresh" content="0;url=/news" /></head><body><a href="/news">Moved to /news</a></body></html>
